

<div *ngIf="weatherData && weatherData.city">
  <h1>{{weatherData.city.name}}</h1>
  <h4>{{zipCode}}</h4>
  <input type="range" [(ngModel)]="numDays" min="1" max="16" (input)="updateData()" />

  <table>
    <tr>
      <td *ngFor="let dataItem of weatherData.list">
        <img src="http://openweathermap.org/img/w/{{dataItem.weather[0].icon}}.png" />
        <span>{{dataItem.temp.max | kelvinToFahrenheit}}&deg;</span>
        <span>{{dataItem.dt | friendyDayConverter}}</span>

    </tr>
  </table>

</div>
